<!doctype html>
<html>
    <head>
    {% load static %}
        <meta charset="utf-8">
        <title>Wish List</title>
        <link rel="stylesheet" href="{% static 'login/css/index.css' %}">
    </head>
    <body>
      <div id='wrap'>
      <h1>Welcome!</h1>
      {% if messages %}
      	{% for message in messages %}
      	<p>{{ message }}</p>
		    {%endfor%}      	
      {% endif %}
      <h2>Register Here</h2>
      <form action="{% url 'login:register' %}" method="post">
      {% csrf_token %}
       	Name: <input type="text" name="name" placeholder="Enter Your nae" /><br><br>
       	Username: <input type="text" name="username" placeholder="Enter Username" /><br><br>
       	Password: <input type="password" name="password" placeholder="Enter Password" /><br>
        <sub><i>Password should be at least 8 characters</i></sub><br>
       	Confirm Password: <input type="password" name="passvalid" placeholder="Confirm Password" /><br><br>
       	Date Hired: <input type="date" name="doh" placeholder="" /><br>
       	<button type="submit" name="submit" value="register">Register</button>
       </form> 
       <h2>Login Here</h2>
       <form action="{% url 'login:login' %}" method="post">
       {% csrf_token %}
       	Username: <input type="text" name="username" value="" placeholder=""/><br><br>
       	Password: <input type="password" name="password" value="" placeholder=""/><br>
       	<button type="submit" name="submit" value="login">Login</button>
       </form>
       </div>
    </body>
</html>